
body{
  margin: 0;
}
.loader-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: #000;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #FFC244;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
.title-loader{
  color: #ffffff;
  font-size: 100px;
  margin: 8%;
}
.span-title-loader{
  color: #FFC244;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.hero-container {
  position: relative;
  background-image: url('../public/assets/images/background-home.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.hero-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}

.hero-content {
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left:3%;
}
.title-hero{
  color: #ffffff;
  font-size: 150px;
  max-width: 100%;
  margin: 0;
}
.span-title-hero{
  color: #FFC244;
}
.text-hero{
  color: #ffffff;
  font-size: 20px;
  width: 80%;
}
.hero-button {
  position: absolute;
  z-index: 2;
  margin-top: 2%;
  margin-right: 2%;
  background-color: #FFC244;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  right: 0%;
  min-height: 50px;
}
.login-form {
  position: absolute;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 0%;
  z-index: 3;
  top:10%;
  margin-top: 20px;
  margin-right: 2%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.463);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.712);
  min-width: 248px;
}

.login-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 100%;
}
.login-form form h1 {
  color: #FFC244;
  font-weight: bold;
  margin: 0;
}
.login-form form label {
  color: #ffffff;
  width: 79%;
  text-align: left;

}

.login-form input {
  width: 80%;
  height: 35px;
  padding: 5px;
  border-radius: 15px!important;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login-form .login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 35px;
  padding: 10px;
  background-color: #FFC244;
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}


.lien-formulaire{
  display: flex;
  justify-content:center;
  align-items: space-between;
}

.link-button{
  margin-left:0.5rem;
  margin-right:0.5rem;
  margin-top:0.5rem;
  margin-bottom:0.5rem;
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: #f3f3f3;
  text-decoration: underline;
}
.btns-connexion{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.google-btn,.apple-btn,.facebook-btn{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 33px;
  width: 65%;
  margin: 2%;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
.google-btn p,.apple-btn p,.facebook-btn p{
  margin: 0%;
}
.google-btn{
  background-color: #ffffff;
  color: #000;
}
.apple-btn{
  background-color: #000;
  color: #ffffff;
}
.facebook-btn{
  background-color: #0866ff;
  color: #ffffff;
}
.img-logo{
  width: 25px;
  height: 25px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.slide-from-top {
  animation: slideFromTop 0.5s ease;
}

@keyframes slideFromTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.slide-out {
  animation: slide-out 0.5s ease;
}

@keyframes slide-out {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}
.home-section{
  background: rgb(0,0,0);
  background: linear-gradient(59deg, rgba(0,0,0,1) 52%, rgba(35,34,2,1) 100%);
  height: 100vh;
  display: flex;
}
.col-section-a{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2%;
}
.col-section-b{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.title-section{
  font-size: 60px;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}
.title-section span{
  background: #ffffff;
  background: linear-gradient(to right, #EDEDED 5%, #FFC244 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-section{
  text-align: left;
  width: 100%;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(171, 170, 170);
  font-size: 20px;
}
.button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  padding: 10px;
  background-color: #FFC244;
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
.button.section{
  width: 150px;
  height: 40px;
  border-radius: 30px;
  font-size: 15px;
}
.screenshot{
  background-color: #f3f3f3;
  height: 400px;
  padding: 0.2rem;
  
}
.screenshot-a{
  width: 80%;
  opacity: 0.8;
  margin-top: 2%;
  height: 82%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.screenshot-b{
  display: flex;
  position: absolute;
  width: 100%;
  height: 70%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.section-navbar{
  padding: 1.2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userprofile{
  width:40px;
  height: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 100%;
  margin-left:0.5rem;
  margin-right:0.5rem;
}

.section-input{
  border-radius: 15px;
  height: 25px;
  border: none;
  margin-left:0.5rem;
  margin-right:0.5rem;
  background-color: rgb(187, 187, 187);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/* --------------------------------------------------------------------------------------------------- */
/* -------------------------------------------MEDIAQUERRY--------------------------------------------- */
/* --------------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 768px) {
  /* body {position: relative;} */
}
@media only screen and (max-width: 621px) {
  .home-section{
    flex-wrap: wrap;
  }
  .title-section{
    text-align: center;
  }
  .text-section {
    text-align: center;
  }
  .col-section-a {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0;
    padding-bottom: 0;
  }
  .screenshot-a{
    width: 60%;
    height: 85%;
  }
  .screenshot-b{
    width: 80%;
    height: 70%;
  }
}
@media only screen and (max-width: 500px) {
  .google-btn p,.apple-btn p,.facebook-btn p{font-size: 13px;}
  .hero-content {justify-content: center;margin: 0;transform: scale(0.8);}
  .hero-button {margin-top: 0%;margin-right: 0%;bottom: 15%;left: 50%;transform: translateX(-50%);}
  .title-hero{color: #ffffff;font-size: 130px;}
  .login-form {margin-top: 0px;margin-right: 0%;bottom: 22%;width: 90%;left: 50%;transform: translateX(-50%);}
  .slide-from-top {animation: slideFromTop 0.5s ease;}
  @keyframes slideFromTop {
    from {
      
      transform: translateX(50%);
      opacity: 0;
    }
    to {
      
      transform: translateX(-50%);
      opacity: 1;
    }
  }

  .slide-out {
    animation: slide-out 0.5s ease;
  }
  
  @keyframes slide-out {
    from {
      transform: translateX(-50%);
      opacity: 1;
    }
    to {
      transform: translateX(50%);
      opacity: 0;
    }
  }

  .link-button{
    font-size: 14px;
  }
  
}