.btn-main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 35px;
    padding: 10px;
    background-color: #FFC244;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}